.result-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:90%;
  margin-right:auto;
  margin-left:auto;
}
.result-container h2{
  margin-bottom: 0;
}
.result-display{
  width:50%;
  height:15em;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 8%;
}
.gif-display{
  width: 75%;
  max-height:15em;
  margin-right: auto;
  margin-left: auto;
}
.slider-value{
  margin-bottom:0;
}
