.result-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:90%;
  margin-right:auto;
  margin-left:auto;
}
.result-container h2{
  margin-bottom: 0;
}
.result-display{
  width:45%;
  height:12em;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 14%;
}
.gif-display{
  width: 75%;
  max-height:12em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom:1em;
}
.slider-value{
  margin-bottom:0;
}
.like-button{
  background-color: #6e6e6e;
  border: none;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.thumb-button{
  width:3em;
}