.liked-layout-container{
  width:50%;  
  border-left: 3px solid #dfdfdf;
}

.liked-container{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.liked-list{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  margin-top:7%;
}

.liked-list img{
  width:100%;
  max-height: 12em;
}

.calc-btn-desc{
  margin-top: 15%;
  text-align: center;
}

.close-icon
{
  display:block;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color:gray;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 45%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 41%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:gray;
  box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
  position: relative;
  top: 2em;
  left:89%;
  cursor: pointer;
}