.liked-layout-container{
  width:50%;  
  border-left: 3px solid #dfdfdf;
}

.liked-container{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.liked-list{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  margin-top:7%;
}

.liked-list img{
  width:100%;
}

.calc-btn-desc{
  margin-top: 15%;
  text-align: center;
}