.liked-layout-container{
  width:50%;  
  border-left: 3px solid #dfdfdf;
}

.liked-container{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.liked-list{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
}

.liked-list img{
  width:100%;
}

.calc-btn-desc{
  text-align: center;
}