.results-list{
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
.liked-item{
  display: flex;
  flex-direction: column;
}
.liked-item img{
  max-width:90%;
}

h2{
  text-align: center;
  margin-top:2%;
  font-size: 1.6em;
}

.liked-list-results{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5%;

  margin-top:7%;
  text-align: center;
}

.button-container{
  margin-top:10%;
  display: flex;
  justify-content: center;
}
.start-over-link{
  position: absolute;
  bottom: 1em;
}
.start-over{
  background-color: #6e6e6e;
  border: none;
  color: white;
  text-align: center;
  padding: 1em 2em;
}